body {
	background-color: #a3b18a ;
	color: black;
	font-family: Monaco, monospace;
}

h1 {
	animation: wobble;
        animation-duration: 10s;
}

img {
	width: 270px;
}

.container {
	background-color: white;
	padding: 9px;
}
