body {
	background-color: #a3b18a ;
	color: black;
	font-family: Monaco, monospace;
}

h1 {
	text-align: center;
	animation: rollIn;
        animation-duration: 2s;
}

img {
	width: 270px;
}

.container {
	background-color: white;
	padding: 9px;
}
